<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.victorhsr.pdm.webcam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_menu"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WebCamActivity"
            android:label="@string/title_activity_web_cam"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ControllerActivity"
            android:label="@string/controller_config"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RecordsActivity"
            android:label="@string/records"
            android:parentActivityName=".activities.ControllerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ControllerActivity" />
        </activity>
        <activity
            android:name=".activities.RecordActivity"
            android:label="@string/record"
            android:parentActivityName=".activities.RecordsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RecordsActivity" />
        </activity>
        <activity
            android:name=".activities.LiveStreamRenderActivity"
            android:label="@string/live">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ControllerActivity" />
        </activity>
        <activity
            android:name=".activities.RecordingActivity"
            android:label="@string/recording">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ControllerActivity" />
        </activity>
    </application>

</manifest>